* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --main-bg-color: rgba(12,13,14,0.86);
    --footer-height: 100px;
}

/* * {
    box-sizing: border-box;
    border: 1px solid black;
} */

html,
body {
    height: 100%;
}

header {
    height: 50px;
    background-color: var(--main-bg-color);
}

main.center-content {
    min-height: 100%;
    padding-top: 50px;
    margin-top: -50px;
    z-index: -1;
    padding-bottom: var(--footer-height);
}

footer {
    background-color: var(--main-bg-color);
    height: var(--footer-height);
    margin-top: -100px;
}

.center-content {
    width: 800px;
    margin: 0 auto;
}

#pages {
}
    .page {
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
    }

    .current-view {
        display: block;
    }

.question {
    list-style: none;
    display: block;
    position: relative;
    padding: 5px;
    margin: 50px 0;
}

    .answers-num {
        float: left;
        width: 100px;
        font-size: 24px;
        text-align: center;
    }
    .answers-num:after {
        display: block;
        content: 'answers';
        margin: 0 auto;
        font-size: 16px;
    }

    .question h4 {
        margin: 10px 0;
        margin-left: 100px;
        padding-left: 10px;
        font-size: 20px;
    }

    .right-left {
        float: right;
    }

.question:not(:last-child):after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    bottom: -35px;
    left: 0;
    right: 0;
    background: #ccc;
}
